@import "sass/variables";

* {
    margin: 0px;
    padding: 0px;
}
.app {
    width: 100%;
    height: 80px;
    background: $main-color;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.app__nav-bar-btn {
    background-color: $letters-default;
    color: $main-color;
    font-weight: 900;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    width: 6rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
.app__nav-bar {
    float: right;
    position: relative;
    display: inline-block;
}
.app__nav-bar-content {
    display: none;
    position: absolute;
    background-color: $app-background;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.app__nav-bar-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.app__nav-bar-content a:hover {
    background-color: $app-background-hover
}
.app__nav-bar:hover .app__nav-bar-content {
    display: block;
}
.app__nav-bar:hover .app__nav-bar-btn {
    background-color: $app-background-nav-bar;
}
.app__logo {
    float: left;
    color: $letters-default;
    margin-left: 2rem;
    margin-top: 1.4rem;
    font-size: 1.5rem;
    font-weight: 700;
}
