@import "sass/variables";

input {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 0 15px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid $input-border-color;
    outline: none;
    background-color: $letters-default;
    color: $main-color;
}
input:focus {
    border-bottom: 1px solid $main-color;
}
.form__btn {
    width: 40%;
    padding: 0.5rem;
    background-color: $main-color;
    color: $letters-default;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form__btn:hover {
    opacity: 1;
}

@media (min-width: 700px) {
    .form__btn {
        width: 20%;
    }
}
