@import "sass/variables";

.list-item {
    margin-top: 1rem;
    font-size: 20px;
}
.list-item__checkbox {
    display: grid;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.list-item__paragraph {
    display: grid;
    width: 90%;
}
.list-item__checkbox+label {
    float: left;
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.list-item__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $checkbox-background-color;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.list-item__checkbox:checked+label::before {
    border-color: $checkbox-checked-color;
    background-color: $checkbox-checked-color;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.list-item__checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: $checkbox-border-color;
}
.list-item__checkbox:not(:disabled):active+label::before {
    background-color: $checkbox-border-color;
    border-color: $checkbox-border-color;
}
.list-item__checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.list-item__checkbox:focus:not(:checked)+label::before {
    border-color: $checkbox-not-focus;
}
.list-item__checkbox:disabled+label::before {
    background-color: $checkbox-disabled;
}
.list-item__remove-btn {
    display: grid;
    float: right;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 30%;
    border: 0.19rem solid $remove-btn;
    background:
            linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,$checkbox-background-color 45%,$checkbox-background-color 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
            linear-gradient(135deg, $remove-btn 0%,$remove-btn 43%,$letters-default 45%,$checkbox-background-color 55%,$remove-btn 57%,$remove-btn 100%);
}
