@import "sass/variables";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: $main-color;
}
h1 {
    font-weight: 900;
}
.registration {
    margin-top: 5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
}
.registration__box {
    height: 400px;
    font-size: 16px;
    padding: 40px 40px;
    background: $letters-default;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
}
.registration__box-user {
    margin-top: 50px;
}
.registration__box-fas {
    position: absolute;
}
input {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 0 15px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid $input-border-color;
    outline: none;
    background-color: $letters-default;
    color: $main-color;
}
input:focus {
    border-bottom: 1px solid $checkbox-background-color;
}
.registration__box-login {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 420px) {
    .registration {
        display: block;
    }
    .registration__box {
        height: 100%;
        padding: 1rem;
        border-radius: 0;
    }
}

@media (max-width: 380px) {
    .registration {
        display: block;
    }
    .registration__box {
        height: 100%;
        padding: 1.6rem 0.8rem;
        border-radius: 0;
    }
}

@media (max-width: 330px) {
    .registration {
        display: block;
    }
    .registration__box {
        height: 100%;
        padding: 0.5rem;
        border-radius: 0;
    }
}

@media (min-width: 700px) {
    .registration {
        display: flex;
    }
    .registration__box {
        width: 350px;
    }
}

.registration__box-login-btn {
    display: block;
    width: 80%;
    padding: 15px;
    background-color: $main-color;
    color: $checkbox-background-color;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.registration__box-login-btn:hover {
    opacity: 1;
}
.registration__box-login-signup {
    margin-top: 2rem;
}
.registration__box-login-signup a {
    color: $link-color;
}
.registration__box-login-signup a:hover {
    color: $button-color
}
.registration__error-message {
    color: $error-message-color;
}
