@import "sass/variables";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: $main-color;
    background: $letters-default;
}

.todos {
    margin-top: 5rem;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.todos__app {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    width: 22rem;
    height: 100rem;
}

@media (min-width: 700px) {
    .todos__app {
        width: 45rem;
    }
}

@media (max-width: 330px) {
    .todos__app {
        width: 18rem;
    }
}
