$letters-default: #fff;
$main-color: #0F044C;

$checkbox-background-color: #EEEEEE;
$link-color: #7FB8E6;
$button-color: #3793DF;
$error-message-color: #FF0000FF;
$input-border-color: #141E75;

$checkbox-checked-color: #0b76ef;
$checkbox-border-color: #b3d7ff;
$checkbox-not-focus: #80bdff;
$checkbox-disabled: #e9ecef;

$remove-btn: #f56b00;

$app-background: #f9f9f9;
$app-background-nav-bar: #e7e0e0;
$app-background-hover: #f1f1f1;
